@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}



html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #49464f 0, #373240 100%);
}

@media (min-width: 2560px) {
  #root {
    max-width: 80rem;
    margin: 0 auto;

  }

  .home-page {
    max-width: calc(80rem - 10rem);
  }


}

@media (min-width:1890px) {}


.home-page {
  width: 100%;
  margin: 3rem auto;
}

.home-page h2 {
  font-size: 2.5rem;
  color: #e1d8f0;
}

.home-page section {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

.home-page section:nth-child(odd) {
  flex-direction: row-reverse;
}

.home-page img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
}

.home-page h3 {
  font-size: 1.5rem;
  color: #c7b0ee;
}

.home-page p {
  max-width: 60ch;
  margin: 2rem 0;
  font-size: 1.25rem;
  color: #d5cbe7;
}

#root {
  height: 100%;

}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
}

.main-header a {
  text-decoration: none;
  color: #c6a8f5;
}

.main-header h1 {
  font-size: 1.5;
  color: #cebfe7;
}

.main-header nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.main-header a:active,
.main-header a.active,
.main-header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.button {
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: #b68ef7;
  color: #0a0218;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #a16cf7
}